.basket {
  padding: 50px 0;

  &__title {
    text-align: center;
    color: var(--yellow);
  }

  &__list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    outline: 1px solid var(--yellow);
    padding: 20px;
    border-radius: 10px;
  }

  &__img {
    object-fit: contain;
    background-color: #fff;
    border-radius: 5px;
  }

  &__name {
    font-size: 20px;
  }

  &__price {
    font-size: 18px;
  }

  &__btn {
    display: block;
    max-width: 120px;
    width: 100%;
    color: var(--yellow);
    outline: 1px solid;
    margin-left: auto;
    height: 40px;
    border-radius: 10px;
    font-size: 17px;
    transition: 0.3s all;

     &:hover {
      background-color: var(--yellow);
      color: var(--color-gray);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__finalPrice {
    margin-top: 40px;
  }
}
